<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Doctor Management System</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script src="../app/controller.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<body>
	<div class="container" ng-app="app">
		<h3 style="color:blue">Add Nurse</h3>
		<div ng-controller="postcontroller">
			<form class="form-horizontal" name="customerForm" ng-submit="submitForm()">
			<!--	<div class="form-group">
					<label class="control-label col-sm-2" for="id">ID:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="id" id="id" placeholder="Enter ID"
							ng-model="id" />
					</div>
				</div>-->
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Name:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="name" id="name" placeholder="Enter Name"
							ng-model="name" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="cmt">CMT:</label>
					<div class="col-sm-5">
						<input type="text" class="form-control" name="cmt" id="cmt" placeholder="Enter CMT"
							ng-model="cmt" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</div>
			</form>


			<div class="col-sm-offset-2 col-sm-10">
				<p>{{postResultMessage}}</p>
			</div>

			<div class="col-sm-offset-2 col-sm-10" ng-controller="getcontroller">
				<button id="btn-id" type="button" class="btn btn-primary" ng-click="getfunction()">Get All
					Customers</button>
				<table class="table">
					<thead>
						<tr>
							<th> Nurse Id </th>
							<th> Nurse Name </th>
							<th> Nurse CMT </th>
							<th> Actions </th>
							<th style="width: 90px"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="cust in response">
							<td>{{cust.id}}</td>
							<td>{{cust.name}}</td>
							<td>{{cust.cmt}}</td>

							<td>
								<button class="btn btn-danger" ng-click="vm.removeNurse(nurse.id)">Update</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</body>

</html>